@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Itim", sans-serif;
}

body {
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 200px;
  background-color: #1c1c1c;
}

nav img {
  height: 30px;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
}

nav ul li {
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#menu-icon {
  height: 24px;
  cursor: pointer;
  /* display: none; */
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45rem;
}

.section-1 {
  width: 100%;
  padding: 30px 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* border: 1px solid rebeccapurple; */
}

.section-1 h1 {
  font-size: 72px;
  margin-bottom: 20px;
}

.section-1 ul {
  display: flex;
  gap: 10px;
  list-style: none;
  color: #c9cd1a;
  font-size: 18px;
  margin-bottom: 20px;
}
#li-1,
#li-2 {
  list-style: normal;
  color: rgb(26, 205, 173);
}
#menu-icon{
  display: none;
}
.section-1 p {
  font-size: 26px;
  line-height: 1.6;
  margin-bottom: 30px;
  width: 30rem;
}

.section-1 button {
  width: 30%;
  background-color: #c9cd1a;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  color: white;
}

.section-1-text-div {
  display: flex;
  flex-direction: column;
}


.section-2 img {
  max-width: 450px;
}
nav ul li:first-child {
  color: #c9cd1a;
}

/* Footer */
footer {
  background-color: #303030;
  color: white;
  padding: 60px 0;
  text-align: center;
}

footer p {
  width: 600px;
  margin: 0 auto 20px;
  font-size: 16px;
  line-height: 1.4;
}

footer div {
  margin-top: 20px;
  gap: 33px;
}

footer div img {
  width: 20px;
  height: 20px;
  margin: 0 15px;
}
#facebook-img {
  height: 24px;
  width: 17px;
}

#kid-zone-img-2 {
  width: 103px;
  height: 37px;
}

.section-3 {
  display: flex;
  background-color: #1c1c1c;
  justify-content: center;
  padding: 10px 0;
}
.section-3 p {
  color: white;
  font-family: sans-serif;
}
span{
  display: none;
}
@media (max-width: 428px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }
  #menu-icon {
    display: block;
  }
  nav ul {
    display: none;
  }

  #menu-icon {
    display: block;
  }

  main {
    flex-direction: column;
    height: auto;
    padding: 0;
  }

  .section-1 {
    flex-direction: column-reverse;
    padding: 20px;
    text-align: center;
    gap: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-1 h1 {
    font-size: 40px;
  }

  .section-1 ul {
    justify-content: center;
    font-size: 14px;
    flex-wrap: wrap;
  }

  .section-1 p {
    font-size: 16px;
    width: 100%;
    padding: 0 10px;
  }

  .section-1 button {
    width: 50%;
    padding: 12px;
    font-size: 16px;
  }

  .section-1-text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .section-1-text-div p {
    font-size: 17px;
  }

  .section-1-text-div button {
    font-size: 20px;
  }

  .section-1-img-div img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  footer {
    padding: 30px 20px;
  }

  footer p {
    width: 100%;
    font-size: 14px;
    padding: 0 10px;
  }

  footer div {
    display: block;
  }

  .section-3{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  span {
    display: none;
  }

}
